---
import { SITE_CONFIG } from '../config';
import { NAV_ITEMS } from '../data/navigation';
---

<header class="nav">
    <div class="wrap bar">
        <a class="brand" href="/">{SITE_CONFIG.title}</a>
        <nav>
            {NAV_ITEMS.map(item => (
                <a href={item.href}>{item.label}</a>
            ))}
        </nav>
    </div>
</header>
